body{
    background-color: cadetblue;
    font: 13pt monospace; 
    color: rgb(0, 0, 0);

    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    

    }
    table{
        width:50%
        
    }
    h1{
        text-align: center;
    }

    h2{
        font: 14pt sans-serif;
    }
    p{
        text-align: left;}
    
    #Empresa{
        font: arial;
        color: brown;
        size: +3;
    }
    img{
        width: 40%;
        margin: 10px 20px 10px 5px;
    }

