body{
        background-color: cadetblue;
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0%;

        

}
h1{
    text-align: center;
    color: rgb(49, 28, 28);
    font: 22pt monospace;
    
}
h2{
    color: rgb(49, 28, 28);
    font: 18pt monospace;
}

h3{
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 44%;
    font: 16pt  monospace;
}
h4{
    background-color: rgb(255, 166, 0);
    text-align: center;
    width: 44%;
    font: 16pt  monospace;
}
h5{
    background-color: rgb(165, 1, 1);
    text-align: center;
    width: 44%;
    font: 16pt  monospace;
    
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
